flows/Docrio_Files_from_Intake_to_Matter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>691</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>scol_FilesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svar_ThisFile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Related_To_ID</name>
        <label>Update Related To ID</label>
        <locationX>460</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>svar_ThisFile.litify_docs__Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MatterID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisFile.litify_docs__Related_To_Api_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>litify_pm__Matter__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if any documents were found. Stop if none are found.</description>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>354</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_all_Docrio_Documents_to_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Loop</targetReference>
            </connector>
            <label>Found Records</label>
        </rules>
    </decisions>
    <description>Updates the Docrio Documents from Intakes to Matters</description>
    <interviewLabel>Docrio Files from Intake to Matter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docrio Files from Intake to Matter</label>
    <loops>
        <name>File_Loop</name>
        <label>File Loop</label>
        <locationX>579</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>svar_ThisFile</assignNextValueToReference>
        <collectionReference>Lookup_all_Docrio_Documents_to_Update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Related_To_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_Docrio_Documents_to_Update</name>
        <label>Lookup all Docrio Documents to Update</label>
        <locationX>207</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_IntakeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Documents</name>
        <label>Update all Documents</label>
        <locationX>810</locationX>
        <locationY>47</locationY>
        <inputReference>scol_FilesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_all_Docrio_Documents_to_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>scol_FilesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>svar_ThisFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>var_IntakeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_MatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
