flows/Docrio_Index_Number_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>905</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>scol_FileInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svar_FileInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_files_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Index</name>
        <label>Increment Index</label>
        <locationX>341</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>var_Index</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_latest_Document_Number.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Files_that_do_not_have_an_Index_yet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Index_0</name>
        <label>Increment Index</label>
        <locationX>478</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>var_Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Files_that_do_not_have_an_Index_yet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_File_Info</name>
        <label>Update File Info</label>
        <locationX>730</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>svar_FileInfo.Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Index</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Found</name>
        <label>Document Found?</label>
        <locationX>257</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Increment_Index_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_latest_Document_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Index</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Documents_Found</name>
        <label>Documents Found?</label>
        <locationX>623</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Files_that_do_not_have_an_Index_yet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_files_to_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Whenever a Docrio Document is created, a Process Builder will call this flow to assign the Index number to the document. This will lookup documents based on the Related To field.</description>
    <formulas>
        <name>for_MinutesAgo55</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/26.2)</expression>
    </formulas>
    <interviewLabel>Docrio Index Number Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docrio Index Number Assignment</label>
    <loops>
        <name>Loop_through_files_to_update</name>
        <label>Loop through files to update</label>
        <locationX>817</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>svar_FileInfo</assignNextValueToReference>
        <collectionReference>Get_all_Files_that_do_not_have_an_Index_yet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_File_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_File_Info_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup all files that have yet to get an Index</description>
        <name>Get_all_Files_that_do_not_have_an_Index_yet</name>
        <label>Get all Files that do not have an Index yet</label>
        <locationX>478</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Documents_Found</targetReference>
        </connector>
        <filters>
            <field>Index__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedToID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lookup the latest Index # associated with this Matter.</description>
        <name>Get_latest_Document_Number</name>
        <label>Get latest Document Number</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Found</targetReference>
        </connector>
        <filters>
            <field>Index__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedToID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <sortField>Index__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_File_Info_Records</name>
        <label>Update File Info Records</label>
        <locationX>1044</locationX>
        <locationY>49</locationY>
        <inputReference>scol_FileInfo</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Delay_5_Min</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>scol_FileInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>svar_FileInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>var_FileInfoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RelatedToID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <waits>
        <name>Delay_5_Min</name>
        <label>Delay 5 Min</label>
        <locationX>58</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Delay_for_5_Min</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_latest_Document_Number</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>for_MinutesAgo55</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Delay for 5 Min</label>
        </waitEvents>
    </waits>
</Flow>
